.side-bar-hidden
  .hide-toggle2.glyphicon.glyphicon-chevron-right
.side-bar
  .side-bar-wrapper
    %h3 Bloggyworld
    .search-box
      %input{type: "text", placeholder: "Search blog site"}
      %button
        %span.glyphicon.glyphicon-search
    %ul
      %li.main.active
        .active-wrapper
          %span.glyphicon.glyphicon-fire
          Hottest 
      %li.main
        .active-wrapper
          %span.glyphicon.glyphicon-star
          Newest
      %li.main
        .active-wrapper
          %span.glyphicon.glyphicon-eye-open
          Featured
      %li
        .active-wrapper
          Dota 2
          %span.glyphicon.glyphicon-ok.checkbox
      %li
        .active-wrapper
          League of Legends
          %span.glyphicon.glyphicon-ok.checkbox
      %li
        .active-wrapper
          Anime and Manga
          %span.glyphicon.glyphicon-ok.checkbox
      %li
        .active-wrapper
          World News
          %span.glyphicon.glyphicon-remove.checkbox
      %li
        .active-wrapper
          Art Talk
          %span.glyphicon.glyphicon-ok.checkbox
    .side-bar-footer
      %p shitty creations by Chabz
    .hide-toggle.glyphicon.glyphicon-chevron-left
